<div class="bg-gray-100 min-h-screen py-5" *ngIf="!loading">
    <div class="container mx-auto p-8 bg-white">
        <div class="lg:grid grid-cols-2 gap-5 lg:divide-x">
            <div class="">
                <div class="w-full h-96 flex border bg-gray-50">
                    <img loading="lazy" class="m-auto h-[23rem]" src="{{ Image }}" alt="">
                </div> 
                <div class="flex gap-2 overflow-y-auto mt-2 h-16">
                    <img loading="lazy" (click)="SwitchImage(i)" [ngClass]="'w-28 cursor-pointer h-16 object-cover '+ [i === SelectedImage ? 'border-4 border-secondary' : 'border']" *ngFor="let Image of Product?.Images; index as i" src="{{ Image }}" alt="">
                </div>
            </div>
            <div class="lg:mt-0 mt-10 lg:px-5">
                <p class="mb-2 text-secondary text-xs">
                    {{ Product?.BrandName }}
                </p>
                <p class="text-2xl text-primary">    
                    {{ Product?.ProductName }}
                </p>
                <div class="flex items-center">
                    <svg class="w-5" width="32" height="32" viewBox="0 0 24 24"><path fill="#FDCC0D" d="m5.825 22l1.625-7.025L2 10.25l7.2-.625L12 3l2.8 6.625l7.2.625l-5.45 4.725L18.175 22L12 18.275Z"/></svg>
                    <svg class="w-5" width="32" height="32" viewBox="0 0 24 24"><path fill="#FDCC0D" d="m5.825 22l1.625-7.025L2 10.25l7.2-.625L12 3l2.8 6.625l7.2.625l-5.45 4.725L18.175 22L12 18.275Z"/></svg>
                    <svg class="w-5" width="32" height="32" viewBox="0 0 24 24"><path fill="#FDCC0D" d="m5.825 22l1.625-7.025L2 10.25l7.2-.625L12 3l2.8 6.625l7.2.625l-5.45 4.725L18.175 22L12 18.275Z"/></svg>
                    <svg class="w-5" width="32" height="32" viewBox="0 0 24 24"><path fill="#FDCC0D" d="m22 9.24l-7.19-.62L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27L18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28L12 15.4z"/></svg>
                    <svg class="w-5" width="32" height="32" viewBox="0 0 24 24"><path fill="#FDCC0D" d="m22 9.24l-7.19-.62L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27L18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27l1-4.28l-3.32-2.88l4.38-.38L12 6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28L12 15.4z"/></svg>
                    <p class="text-xs ml-2 text-secondary">2,500</p>
                </div>
                <p class="mt-2 text-gray-500 text-sm">
                    {{ Product?.Description }}
                </p>
                <p class="mt-2 text-gray-500 text-sm">Available Stock : {{ Product?.AvailableStock }}</p>
                <p class="mt-2 text-2xl text-primary">
                    ₹{{ Product?.Price }} 
                    <span class="text-xs text-gray-500">{{ Product?.Discount }}% off</span> 
                    <span class="line-through text-xs pl-2 text-red-500"> ₹{{ OriginalPrice(Product?.Discount,Product?.Price) }}</span>
                </p>
                <div class="my-3">
                    Count : &nbsp;
                    <button (click)="HandleCount('dec')" class="bg-teritory px-2 border-2 border-teritory text-white">-</button> 
                    <span class="border w-10 text-center focus:outline-none px-2 py-1"> {{ Count }} </span>
                    <button (click)="HandleCount('inc')" class="bg-teritory px-2 border-2 border-teritory text-white">+</button>
                </div>
                <div class="flex gap-2 mt-8">
                    <div class="bg-secondary hover:bg-opacity-75 rounded-3xl">
                        <svg class="w-6 h-6 m-2" width="32" height="32" viewBox="0 0 24 24"><path fill="white" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z"/></svg>
                    </div>
                    <div class="bg-secondary hover:bg-opacity-75 rounded-3xl">
                        <button class="flex p-2 px-5 text-white mx-auto items-center self-center gap-1 ">
                            <svg width="20" height="20" viewBox="0 0 24 24"><path fill="white" d="M7 22q-.825 0-1.412-.587Q5 20.825 5 20q0-.825.588-1.413Q6.175 18 7 18t1.412.587Q9 19.175 9 20q0 .825-.588 1.413Q7.825 22 7 22Zm10 0q-.825 0-1.412-.587Q15 20.825 15 20q0-.825.588-1.413Q16.175 18 17 18t1.413.587Q19 19.175 19 20q0 .825-.587 1.413Q17.825 22 17 22ZM6.15 6l2.4 5h7l2.75-5ZM5.2 4h14.75q.575 0 .875.512q.3.513.025 1.038l-3.55 6.4q-.275.5-.738.775Q16.1 13 15.55 13H8.1L7 15h12v2H7q-1.125 0-1.7-.988q-.575-.987-.05-1.962L6.6 11.6L3 4H1V2h3.25Zm3.35 7h7Z"/></svg>
                            <p>Add to cart</p>
                        </button>
                    </div>
                    <div class="bg-secondary hover:bg-opacity-75 rounded-3xl">
                        <button class="flex p-2 px-5 text-white mx-auto items-center self-center gap-1 ">
                            <svg width="20" height="20" viewBox="0 0 24 24"><path fill="white" d="M13.725 21L7 14v-2h3.5q1.325 0 2.288-.863q.962-.862 1.162-2.137H6V7h7.65q-.425-.875-1.262-1.438Q11.55 5 10.5 5H6V3h12v2h-3.25q.35.425.625.925T15.8 7H18v2h-2.025q-.2 2.125-1.75 3.562Q12.675 14 10.5 14h-.725l6.725 7Z"/></svg>
                            <p>Buy now</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-100 min-h-screen py-5" *ngIf="loading">
    <div class="container mx-auto p-8 bg-white">
        <div class="lg:grid grid-cols-2 gap-5 lg:divide-x">
            <div class="">
                <div class="w-full h-96  border bg-gray-200 animate-pulse rounded-lg">
                </div> 
                <div class="flex gap-2 overflow-y-auto mt-2 h-16">
                    <p class="w-28 bg-gray-200 animate-pulse rounded-lg"></p>
                    <p class="w-28 bg-gray-200 animate-pulse rounded-lg"></p>
                    <p class="w-28 bg-gray-200 animate-pulse rounded-lg"></p>
                    <p class="w-28 bg-gray-200 animate-pulse rounded-lg"></p>
                    <p class="w-28 bg-gray-200 animate-pulse rounded-lg"></p>
                </div>
            </div>
            <div class="lg:mt-0 mt-10 lg:px-5">
                <p class="h-4 w-32 mb-2 text-xs bg-gray-200 animate-pulse rounded-lg">
                </p>
                <p class="h-4 w-36 mb-4 text-xs bg-gray-200 animate-pulse rounded-lg">
                </p>
                <p class="h-4 w-36 mb-3 text-xs bg-gray-200 animate-pulse rounded-lg">
                </p>
                <p class="h-4 mb-2 text-xs bg-gray-200 animate-pulse rounded-lg">
                </p>
                <p class="h-4 mb-2 text-xs bg-gray-200 animate-pulse rounded-lg">
                </p>
                <p class="h-4 mb-2 text-xs bg-gray-200 animate-pulse rounded-lg">
                </p>
                <p class="mt-2 text-gray-500 text-sm">
                </p>
                <div class="flex gap-2 mt-8">
                    <div class="bg-gray-200 animate-pulse rounded-3xl">
                        <svg class="w-6 h-6 m-2" width="32" height="32" viewBox="0 0 24 24"><path fill="white" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z"/></svg>
                    </div>
                    <div class=" bg-gray-200 animate-pulse rounded-3xl">
                        <button class="flex p-2 px-5 text-white mx-auto items-center self-center gap-1 ">
                            <svg width="20" height="20" viewBox="0 0 24 24"><path fill="white" d="M7 22q-.825 0-1.412-.587Q5 20.825 5 20q0-.825.588-1.413Q6.175 18 7 18t1.412.587Q9 19.175 9 20q0 .825-.588 1.413Q7.825 22 7 22Zm10 0q-.825 0-1.412-.587Q15 20.825 15 20q0-.825.588-1.413Q16.175 18 17 18t1.413.587Q19 19.175 19 20q0 .825-.587 1.413Q17.825 22 17 22ZM6.15 6l2.4 5h7l2.75-5ZM5.2 4h14.75q.575 0 .875.512q.3.513.025 1.038l-3.55 6.4q-.275.5-.738.775Q16.1 13 15.55 13H8.1L7 15h12v2H7q-1.125 0-1.7-.988q-.575-.987-.05-1.962L6.6 11.6L3 4H1V2h3.25Zm3.35 7h7Z"/></svg>
                            <p>Add to cart</p>
                        </button>
                    </div>
                    <div class="rounded-3xl bg-gray-200 animate-pulse">
                        <button class="flex p-2 px-5 text-white mx-auto items-center self-center gap-1 ">
                            <svg width="20" height="20" viewBox="0 0 24 24"><path fill="white" d="M13.725 21L7 14v-2h3.5q1.325 0 2.288-.863q.962-.862 1.162-2.137H6V7h7.65q-.425-.875-1.262-1.438Q11.55 5 10.5 5H6V3h12v2h-3.25q.35.425.625.925T15.8 7H18v2h-2.025q-.2 2.125-1.75 3.562Q12.675 14 10.5 14h-.725l6.725 7Z"/></svg>
                            <p>Buy now</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>