<div class="w-full sm:w-72 h-[26rem] 2xl:w-80 mx-auto shadow bg-white border relative">
    <div class="h-64 p-4">
        <div class="h-60 m-auto bg-gray-300 rounded-lg animate-pulse">
        </div>
        <!-- <img class="h-60 m-auto" src="https://m.media-amazon.com/images/I/81Ke5qtC6oL._AC_UL320_.jpg" alt=""> -->
    </div>
    <div class="p-4 flex justify-between">
        <div class="w-16 h-4 block bg-gray-300 rounded-lg animate-pulse">
        </div>
        <div class="w-24 h-4 block bg-gray-300 rounded-lg animate-pulse">
        </div>
    </div>
    <div class="p-4 -mt-5">
        <h1 class="w-36 h-4 block bg-gray-300 mb-2 rounded-lg animate-pulse"></h1>
        <p class="w-full mb-2 h-3 block bg-gray-300 rounded-lg animate-pulse"></p>
        <p class="w-full mb-2 h-3 block bg-gray-300 rounded-lg animate-pulse"></p>
        <p class="w-40 h-3 block bg-gray-300 rounded-lg animate-pulse"></p>
    </div>
</div>